<md-toolbar layout="row" class="md-toolbar-tools">
  <md-button class="menu md-icon-button" hide-gt-sm ng-click="vm.toggleSideNav()"
             aria-label="Show Congregation List">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <h1>LLC Archived Sermons</h1>
</md-toolbar>

<div flex layout="row">
  <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
              md-component-id="left" ng-click="vm.toggleSideNav()">
      <md-list>
        <md-list-item ng-repeat="congregation in vm.congregations">
          <md-button ng-click="$ctrl.showDetails({congregation:congregation})" ng-class="{'selected' : congregation === $ctrl.selected }">
            <md-icon md-svg-icon="{{congregation.avatar}}" class="avatar"></md-icon>
            {{congregation.displayName}}
          </md-button>
        </md-list-item>
      </md-list>

  </md-sidenav>
  <md-content flex id="content">

  </md-content>
</div>
